/* English */

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/regular.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bold.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/italic.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/times-newer-roman/regular.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/times-newer-roman/bold.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/times-newer-roman/italic.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/times-newer-roman/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/minion-pro/regular.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/minion-pro/bold.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/minion-pro/italic.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/minion-pro/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/tex-gyre-pagella/regular.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/tex-gyre-pagella/bold.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/tex-gyre-pagella/italic.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/tex-gyre-pagella/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/adobe-garamond-pro/regular.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/adobe-garamond-pro/bold.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/adobe-garamond-pro/italic.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/adobe-garamond-pro/bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/euclid/regular.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/euclid/bold.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/euclid/italic.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/euclid/bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 200;
  src: url("~/assets/fonts/fira-sans/extralight.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 200;
  src: url("~/assets/fonts/fira-sans/extralightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/fonts/fira-sans/light.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 300;
  src: url("~/assets/fonts/fira-sans/lightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/fira-sans/regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/fira-sans/italic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("~/assets/fonts/fira-sans/medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  src: url("~/assets/fonts/fira-sans/mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/fira-sans/bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/fira-sans/bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  src: url("~/assets/fonts/fira-sans/extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 800;
  src: url("~/assets/fonts/fira-sans/extrabolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  src: url("~/assets/fonts/fira-sans/black.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 900;
  src: url("~/assets/fonts/fira-sans/blackitalic.ttf") format("truetype");
}

/* Chinese */

@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/lxgw-wen-kai/regular.ttf") format("truetype");
}

@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/lxgw-wen-kai/bold.ttf") format("truetype");
}

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/hkst/w7.ttf") format("truetype");
}

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/hkst/w9.ttf") format("truetype");
}
